%section
  %h1= restaurant.name
  - %i[description location fbpage_id disclaimer primary_cuisine].each do |property|
    %p
      = property
      %br
      = restaurant.try(property)

%section
  %h1 Ordered Cuisines
  - restaurant.ordered_cuisines.each do |cuisine|
    %p
      = cuisine.name
      (
      = cuisine.slogan
      )
