- content_for :title do
  = @restaurant.name

= render "hero", restaurant: @restaurant

= render "main", restaurant: @restaurant

= render "reviews", reviews: @restaurant.positive_reviews.where.not(body: nil).order(updated_at: :desc).limit(3)

= render "features", restaurant: @restaurant

= render "location", restaurant: @restaurant

= render "photos", photos: @restaurant.approved_photos
